h1::first-letter{
    font-size: 2em;
    font-style: italic;
}
p::first-line{
    background-color: yellow;
}
p::selection{
    color: white;
    background-color: black;
}
#fruit li::before{
    content:"✔️";
}
#apple::after{
    content:'🍎';
}
#banana::after{
    content:'🍌';
}
#orange::after{
    content:'🍊';
}
#fruit li::marker{
    content:"✔️";
    color: rgb(45, 239, 61);
    font-size: 1.2em;
}